.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.btn-dark {
  color:white;
  background-color:black;
  border-color: #ccc;
}

.btn-light {
  color: black;
  background-color:white;
  border-color: #ccc;
}